<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="MongoLocalHost" connectionString="mongodb://localhost:27017" />
    <add name="MongoRemoteHost" connectionString="mongodb://admin:icprctecp@192.168.2.58:27017"/>
  </connectionStrings>
  
</configuration>
